@import "tailwindcss";


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: transparent;
}

* {
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-in-out;
}